<a href="https://colab.research.google.com/github/shashankjoshi0315/Numpy-Pandas/blob/main/Shasshank_Accuracy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np


titanic_df = sns.load_dataset('titanic')

print("First 5 rows of the Titanic dataset:")
print(titanic_df.head())

print("\nInformation about the Titanic dataset:")
titanic_df.info()

First 5 rows of the Titanic dataset:
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Information about the Titanic dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [5]:
age_median = titanic_df['age'].median()
titanic_df['age'] = titanic_df['age'].fillna(age_median)

embarked_mode = titanic_df['embarked'].mode()[0]
titanic_df['embarked'] = titanic_df['embarked'].fillna(embarked_mode)

columns_to_drop = ['deck', 'embark_town', 'alive', 'class']
for col in columns_to_drop:
    if col in titanic_df.columns:
        titanic_df.drop(col, axis=1, inplace=True)

In [6]:
titanic_df['family_size'] = titanic_df['sibsp'] + titanic_df['parch'] + 1

titanic_df.drop(['sibsp', 'parch'], axis=1, inplace=True)


y = titanic_df['survived']
X = titanic_df.drop('survived', axis=1)

categorical_cols = X.select_dtypes(include=['object', 'category', 'bool']).columns

X = pd.get_dummies(X, columns=categorical_cols, drop_first=True)

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)

Shape of X_train: (712, 11)
Shape of X_test: (179, 11)

In [17]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(

    random_state=42
)

rf.fit(X_train, y_train)

print("Random Forest Classifier trained successfully.")

Random Forest Classifier trained successfully.

In [16]:
from sklearn.metrics import accuracy_score

y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)

print(f"Improved Model Accuracy: {accuracy:.4f}")

Improved Model Accuracy: 0.8268